*,.ui-btn {
	font-family: 'Courier New', monospace;
}

.ui-header .ui-title {
	font-size: large;
	line-height: 1;
}

.ui-footer {
	padding: 0em .4em;
}

.ui-field-contain>label {
	min-width: 12em;
}

.ui-field-contain .ui-controlgroup-label,.ui-field-contain .ui-controlgroup-controls {
	width: auto;
}

.ui-collapsible-heading .ui-btn {
	font-weight: normal;
}

h4 {
	text-align: center;
}

.menu .ui-btn {
	font-size: large;
}

.numpad {
	margin-top: .2em;
}

.numpad .ui-btn {
	font-size: x-large;
	height: 50px;
	padding: 0;
	margin: 0;
}

.cfg__content,.cfg__content--text {
	font-size: large;
}

.cfg__content--text {
	line-height: 2.5;
}

table {
	text-align: right;
	line-height: 1.1;
}

.td__title {
	font-size: small;
}

.td__column,.td__column--under,.td__column--bold {
	font-size: x-large;
}

.td__super {
	font-size: large;
	text-align: center;
	vertical-align: top;
}

.td__symbol {
	font-size: large;
}

.td__column--under {
	text-decoration: underline;
}

.td__column--bold {
	font-weight: bold;
}
